function Main.main 7
push constant 3
pop local 3
push local 3
call Array.new 1
pop local 0
push local 3
call Array.new 1
pop local 1
push local 3
call Array.new 1
pop local 2
push constant 0
push local 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 2
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 2
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 2
add
push constant 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push local 3
call ArrayFunction.prettyPrint 2
pop temp 0
call Output.println 0
pop temp 0
push local 2
push local 3
call ArrayFunction.prettyPrint 2
pop temp 0
push local 0
push local 3
call ArrayFunction.sum 2
pop local 4
call Output.println 0
pop temp 0
push local 4
call Output.printInt 1
pop temp 0
push local 0
push local 3
call ArrayFunction.average 2
pop local 5
call Output.println 0
pop temp 0
push local 5
call Output.printInt 1
pop temp 0
push local 0
push local 3
call ArrayFunction.copy 2
pop local 1
push local 0
push local 1
push local 3
call ArrayFunction.equals 3
pop local 6
call Output.println 0
pop temp 0
push local 6
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 4
call String.new 1
push constant 84
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
call Output.printString 1
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 5
call String.new 1
push constant 70
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_END0
push local 0
push local 2
push local 3
call ArrayFunction.equals 3
pop local 6
call Output.println 0
pop temp 0
push local 6
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 4
call String.new 1
push constant 84
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
call Output.printString 1
pop temp 0
goto IF_END1
label IF_FALSE1
push constant 5
call String.new 1
push constant 70
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_END1
push constant 0
return
