function Main.main 5
push constant 2
push constant 3
call Fraction.new 2
pop local 0
push constant 3
push constant 8
call Fraction.new 2
pop local 1
push local 0
push local 1
call Fraction.times 2
pop local 3
push local 0
push local 1
call Fraction.plus 2
pop local 4
push local 3
call Fraction.print 1
pop temp 0
call Output.println 0
pop temp 0
push local 4
call Fraction.print 1
pop temp 0
call Output.println 0
pop temp 0
push local 1
call Fraction.makeReciprocal 1
pop temp 0
push local 1
call Fraction.print 1
pop temp 0
push constant 0
return
